@model Post[]

@{
    ViewData["Title"] = "My posts";
    var posts = Model;
}

<h2>La mia pizzeria</h2>

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Foto</th>
            <th>Ingredienti</th>
            <th>Prezzo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @*@foreach (var post in posts)
            {
                    <td>@post.NomePizza</td>
            }*@
        </tr>
    </tbody>
</table>
